// app global css in SCSS form
.align-items-center {
  align-items: center;
}

.h-smaller {
  height: 200px;
}
.h-small {
  height: 400px;
}
.h-medium {
  height: 500px;
}
.h-large {
  height: 100%;
}
.h-auto {
  height: auto;
}
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
